.page-header__logo {
  display: flex;
  margin: 30px;
  height: 80px;
  padding: 0;
  align-items: center;
  margin-bottom: 0;
}

.page-header__logo-link {
  margin-left: 70px;
}

.page-header__logo-image {
  display: inline-block;
}
